.Floated-form {
  position: relative;
  margin-bottom: 10px;
  &.has-error .form-field {
    border-color: $danger-color;
    padding-top: 20px;
  }
  &.has-error label {
    color: $danger-color;
  }

 .form-field {
    border: 1px solid $tertiary-color;
    border-radius: 3px;
    padding: 7px;
    background-color: white;
    outline: none;
    font-size: 1em;
    width: 100%;
    transition: padding .3s ease;
    &:focus {
      border-color: $secondary-color;
    }
    &.has-input {
      padding-top: 20px;
    }
  }

  input.form-field, select.form-field {
    height: 45px;
  }

  input[type=file] {
    padding-top: 22px;
    height: 50px;
  }

  label {
    position: absolute;
    top: 6px;
    left: 8px;
    font-size: .8em;
    font-weight: bold;
    color: $primary-color;
  }
}
