.Race {
  position: relative;
}

.Race__Router {
  margin-top: 20px;
}

.Race__Cover-photo {
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  background-color: #999;
  z-index: 1;
}
.Race__Mask {
  background-color: rgba(0,0,0,.3);
  width: 100%;
}

.Race__Details {
  width: 90%;
  margin: 40px auto 10px auto;
  text-align: center;
  color: white;
}

.Race__Name {
  color: white;
  text-align: center;
  font-size: 4em;
  font-family: $title-font;
  line-height: 1em;
}

.Race__Circuit {
  position: relative;
  height: 150px;
  max-width: 300px;
  margin: 0 auto;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.Race__Circuit-type {
  position: absolute;
  top: 20%;
  right: 12%;
  background-color: rgba(0,0,0,.4);
  border: 1px solid $tertiary-color;
  border-radius: 4px;
  padding: 3px 5px;
}

.Race__Edit {
  position: absolute;
  top: 15px;
  right: 5%;
  z-index: 3;
}

.Race__Date {
  display: flex;
  justify-content: center;
}

.Race__Date span {
  background-color: $secondary-color;
  border-radius: 4px;
  padding: 3px 5px;
  margin-right: 8px;
  &:last-child {
    margin-right: 0;
  }
}

.Race__Birthdays {
  padding-top: 5px;
}

.Race__Birthday-driver {
  display: inline-block;
  position: relative;
  & img {
    width: 50px;
    height: 50px;
    margin: 5px;
    border: 2px solid white;
    border-radius: 50%;
  }
  & span {
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 50%;
    padding: 3px;
    background-color: white;
    color: $tertiary-color;
    font-size: .9em;
  }
}

.Races-Edit__Button {
  position: absolute;
  top: 33%;
  right: 0;
}

// Race-Winners
.Race-Winners__Winner {
  display: flex;
  align-items: flex-start;
}

.Race-Winners__Image {
  width: 33%;
  text-align: center;
}

.Race-Winners__Image img {
  margin: 5px auto;
  height: 90px;
  border: 2px solid $secondary-color;
}

.Race-Winners__Body {
  flex: 1;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Race-Winners__Name {
  font-size: 1.2em;
  color: $secondary-color;
  font-weight: bold;
}
