// colors
$primary-color: #363837;
$secondary-color: #3F4140;
$tertiary-color: #3F4140;
$success:  #0A6350;
$danger: #7D4140;

// fonts
@import url(https://fonts.googleapis.com/css?family=Baloo+Tamma);

$title-font: 'Baloo Tamma', serif;
$body-font: Montserrat, sans-serif;
