// colors
$primary-color: #6B7A8F;
$secondary-color: #F7882F;
$tertiary-color: #565656;
$success:  #CAEBF2;
$danger: #FF3B3F;

// fonts
@import url(https://fonts.googleapis.com/css?family=Baloo+Tamma);

$title-font: 'Baloo Tamma', serif;
$body-font: Montserrat, sans-serif;
