// colors
$black: #363837;
$dark-gray: #3F4140;
$mid-gray: #8B8C8E;
$light-gray:  #DBDAC4;
$green:  #0A6350;
$red: #7D4140;

// fonts
@import url(https://fonts.googleapis.com/css?family=Baloo+Tamma);

$title-font: 'Baloo Tamma', serif;
$body-font: Montserrat, sans-serif;
